<%- include('partials/header.html') %>

    <section class="noticia-destaque">
      <div class="center">
        <div class="img-destaque">
          <div class="overlay-destaque"></div>
          <div class="title-destaque-descricao">
            <h2>Quer fugir das praias de verão</h2>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Voluptate officiis, cupiditate nihil suscipit facilis adipisci
              facere pariatur aspernatur quasi distinctio expedita eos iusto non
              perferendis at culpa animi? Consectetur, assumenda.
            </p>
          </div>
          <img src="/public/images/landscape.jpg" alt="" />
        </div>
      </div>
    </section>

    <section class="outras-noticias">
      <div class="title-outras-noticias">
        <h2>Ultimas noticias</h2>
        <br />
        <div class="center">
          <div class="ultimas">
            <div class="box-ultima-single">
              <img src="/public/images/noticia.png" alt="" />
              <div class="conteudo-noticias-single">
                <h3>Natureza e Geral</h3>
                <h2>Como encarar o surf em Floripa</h2>
                <p>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Voluptatem consequuntur provident illum autem cupiditate cum
                  porro voluptatum eos, sit ut perspiciatis perferendis
                  repudiandae molestias. Dolore ad ut perferendis perspiciatis
                  exercitationem!
                </p>
                <a href="/encarar-o-surf">Saiba mais</a>
              </div>
            </div>
            <div class="box-ultima-single">
              <img src="/public/images/noticia.png" alt="" />
              <div class="conteudo-noticias-single">
                <h3>Natureza e Geral</h3>
                <h2>Como encarar o surf em Floripa</h2>
                <p>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Voluptatem consequuntur provident illum autem cupiditate cum
                  porro voluptatum eos, sit ut perspiciatis perferendis
                  repudiandae molestias. Dolore ad ut perferendis perspiciatis
                  exercitationem!
                </p>
                <a href="/encarar-o-surf">Saiba mais</a>
              </div>
            </div>
          </div>

          <div class="mais-lidas">
            <h3>Mais Lidas</h3>
            <div class="mais-lidas-noticias">
              <div class="mais-lidas-noticia-single">
                <img src="/public/images/natureza_small.png" alt="" />
                <div class="texto-mais-lida-single">
                  <h4>Natureza</h4>
                  <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex
                    tempore at quas rerum aperiam, recusandae illum commodi
                    iusto totam.
                  </p>
                  <a href="/encarar-o-surf">Saiba mais</a>
                </div>
              </div>
            </div>
            <div class="mais-lidas-noticias">
              <div class="mais-lidas-noticia-single">
                <img src="/public/images/natureza_small.png" alt="" />
                <div class="texto-mais-lida-single">
                  <h4>Natureza</h4>
                  <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex
                    tempore at quas rerum aperiam, recusandae illum commodi
                    iusto totam.
                  </p>
                  <a href="/encarar-o-surf">Saiba mais</a>
                </div>
              </div>
            </div>
            <div class="mais-lidas-noticias">
              <div class="mais-lidas-noticia-single">
                <img src="/public/images/natureza_small.png" alt="" />
                <div class="texto-mais-lida-single">
                  <h4>Natureza</h4>
                  <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex
                    tempore at quas rerum aperiam, recusandae illum commodi
                    iusto totam.
                  </p>
                  <a href="/encarar-o-surf">Saiba mais</a>
                </div>
              </div>
            </div>
            <div class="mais-lidas-noticias">
              <div class="mais-lidas-noticia-single">
                <img src="/public/images/natureza_small.png" alt="" />
                <div class="texto-mais-lida-single">
                  <h4>Natureza</h4>
                  <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex
                    tempore at quas rerum aperiam, recusandae illum commodi
                    iusto totam.
                  </p>
                  <a href="/encarar-o-surf">Saiba mais</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- include('partials/footer.html') %>
  </body>
</html>
