<%- include('partials/header.html') %>

<section class="noticia">
  <div class="center">
    <div class="noticia-single">
      <h2>Dez principais habilidades para se tornar um desenvolvedor full-stack em 2021</h2>
      <div class="autor-nome">
        <span>Por Jackson Gravino</span>
      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur animi in perferendis sunt vitae odio error, aperiam quibusdam voluptate beatae, velit soluta voluptatum odit rem temporibus sit molestiae aliquam ex. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione quas harum, est expedita facere voluptatum sunt voluptate dolore nostrum eveniet reprehenderit nisi soluta nihil atque fugiat minus, illum ipsam ullam. </p>
      <h3>Quem irar aprender</h3>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic rem ducimus possimus. Autem assumenda odio ratione labore totam blanditiis tempora dicta expedita, eligendi fuga inventore magni consectetur velit illum minus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, cupiditate maiores! Molestiae tempora temporibus ipsa ducimus aperiam ex eaque expedita perspiciatis nulla, porro esse ipsum blanditiis deserunt facere atque dignissimos.</p>
    </div>

    <div class="mais-lidas">
      <h3>Mais Lidas</h3>
      <div class="mais-lidas-noticias">
        <div class="mais-lidas-noticia-single">
          <img src="/public/images/natureza_small.png" alt="" />
          <div class="texto-mais-lida-single">
            <h4>Natureza</h4>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex
              tempore at quas rerum aperiam, recusandae illum commodi
              iusto totam.
            </p>
            <a href="/encarar-o-surf">Saiba mais</a>
          </div>
        </div>
      </div>
      <div class="mais-lidas-noticias">
        <div class="mais-lidas-noticia-single">
          <img src="/public/images/natureza_small.png" alt="" />
          <div class="texto-mais-lida-single">
            <h4>Natureza</h4>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex
              tempore at quas rerum aperiam, recusandae illum commodi
              iusto totam.
            </p>
            <a href="/encarar-o-surf">Saiba mais</a>
          </div>
        </div>
      </div>
      <div class="mais-lidas-noticias">
        <div class="mais-lidas-noticia-single">
          <img src="/public/images/natureza_small.png" alt="" />
          <div class="texto-mais-lida-single">
            <h4>Natureza</h4>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex
              tempore at quas rerum aperiam, recusandae illum commodi
              iusto totam.
            </p>
            <a href="/encarar-o-surf">Saiba mais</a>
          </div>
        </div>
      </div>
      <div class="mais-lidas-noticias">
        <div class="mais-lidas-noticia-single">
          <img src="/public/images/natureza_small.png" alt="" />
          <div class="texto-mais-lida-single">
            <h4>Natureza</h4>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex
              tempore at quas rerum aperiam, recusandae illum commodi
              iusto totam.
            </p>
            <a href="/encarar-o-surf">Saiba mais</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>


<%- include('partials/footer.html') %>
  </body>
</html>